*{
  margin:0;
}
body{
  max-width:800px;
  max-height :2100px;
  background-color: black ;
}
/*page exchange*/
.page1{
  border:none;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  display:none;
  width:100%;
  padding:0;
  max-width:4200px;
  margin:0 auto;
  min-height:100vh;
  height:auto;
}
.page1.active{
  display:block;
}


main{
  border:none;
  min-width:300px;
  max-width:800px;
  min-height:700px;
  max-height:2100px;
  height :100%;
  margin:0 auto;
  z-index:999;
  display:flex;
  flex-direction:column;
  justify-content:center;
  place-items:center;
  overflow:hidden;
}
 .bt2{
  border:1px soid skyblue;
  width:50px;
  height:40px;
  font-size:20px;
  font-weight:bold;
  font-family:fantasy;
  margin :0;
  padding-bottom:35px;
  padding-top:5px;
  position:relative;
  top:15px; 
  z-index:2;
  left:5px;
  border:none;
  padding-left:10px;
  background:transparent;
  transform:rotate(90deg);
}
.h2{
  color:#FFF635;
}
h1,h2{
  font-size:20px;
}
p{
  color:#96A56E; 
  font-size:18px;
}
img{
  min-width:10px;
  max-width:500px;
  min-height:10px;
  max-height:1400px;
}
section:nth-of-type(1){
  border:none;
  min-width:250px;
  max-width:800px;
  position:absolute;
  margin:0 auto;
  width:auto;
  overflow:auto;
  min-height:700px;
  max-height:1500px;
  height :100%;
  background-color:red;
  z-index:999;
  background-image:url("hotel.jpeg");
  background-repeat:no-repeat;
  background-size:cover;
  object-fit:cover;

}
.welltxt{
  border:1px sold skyblue;
  min-width:320px;
  max-width:auto;
  margin:0 auto;
  min-height:260px;
  padding :10px;
  display :flex;
  gap:30px;
  color:skyblue;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  flex-direction:column;
  place-items:center;
  backdrop-filter:blur(15px);
  box-shadow:1px 1px 150px skyblue;
}
section:nth-of-type(1) h1{
  padding-top:15px;
  font-size:25px;
  color:red;
  padding:5px;
  margin :15px;
}
section:nth-of-type(1) h2,.h1{
  font-size:18px;
  color:#96A56E;
  padding:5px;
  text-align:center;
  font-family:fantasy;
  font-weight:300;
  margin :10px;
}
section:nth-of-type(1) p{
  font-size:17px;
  padding:5px;
  font-family:fantasy;
  font-weight:300;
  color:#96A56E;
}

.bt1{
  border:1px solid  #FFD700;;
  min-width:100px;
  max-width:180px;
  height:40px;
  font-size:15px;
  font-weight:bold;
  font-family:fantasy;
  position: absolute;
  color: yellow;
  background-color:#14323D;
  top:295px;
  left:50px; 
  border-radius:40px;
  box-shadow:3px 3px 50px black;
  animation:leftright linear 4s infinite alternate;
  animation-play-state:running;
  box-shadow:1px 1px 150px skyblue;
}
.bt1:hover{
  animation-play-state: paused;
  border-radius:10px;
}
@keyframes leftright{
  0%{
    transform:translateX(0);
  }
  25%{
    transform:translateX(-30px);
  }
  75%{
    transform:translateX(30px);
  }
  100%{
    transform:translateX(60px);
  }
}
/*Section two main page*/
section:nth-of-type(2){
  border:none;
  min-width:200px;
  max-width:800px;
  width:100%;
  min-height:1200px;
  max-height:1300px;
  background-image:linear-gradient(to bottom ,black 10%,grey);
  padding:0;
  margin:0;
  overflow:hidden;
  margin :0 auto;
  place-items:center;
  overflow:auto;
}
section:nth-of-type(2) .upheader{
  border:none;
  min-width:200px;
  max-width:800px;
  margin:0 auto;
  width :100vw;
  height :50px;
  position:fixed;
  z-index:999;
  
}
section:nth-of-type(2) .head{
  border:none;
  display:block;
  min-width:200px;
  max-width:400px; 
  height:30px;
  position:relative;
  padding-top:20px;
  font-size:20px;
  z-index:999;
  border-radius:20px;
  overflow:hidden;
  font-weight:bold;
  font-family:fantasy;
  background-image: linear-gradient(to bottom,black 10%,#32400D,#8AA348,#96A56E);
}
section:nth-of-type(2) h1{
  border:none; 
  width:2400px;
  display : inline-block;
  font-size:18px;
  font-weight:bold;
  z-index:1;
  color: white;
  
  font-family:fantasy;
  animation:head linear 15s infinite;
  position : relative;
  top:-45px;
}
@keyframes head{
  from{
    transform: translateX(400px);
  }
  to{
    transform: translateX(-400px);
  }
}
section:nth-of-type(2) .bt2{
  border:none;
  width:50px;
  height:40px;
  font-size:20px;
  font-weight:bold;
  font-family:fantasy;
  margin :0;
  padding-bottom:40px;
  padding-top:5px;
  position:relative;
  top:-15px; 
  z-index:2;
  left:-5px;
  border:none;
border-top-left-radius:20px;
border-bottom-left-radius:20px;
  padding-left:10px;
  background:transparent;
  backdrop-filter:blur(20px);
  transform:rotate(90deg);
}

.drop{
border:none;
width:40px;
backdrop-filter:blur(20px);
height:40px;
z-index:10;
position:relative;
top:-50px;
left:360px;
padding:5px;
display :flex;
flex-direction: column;
gap:80px;
place-items:right; 
border-top-right-radius:30px;
border-bottom-right-radius:30px;
border-top-left-radius:30px;
  z-index:999;
}
.drop:hover .options{
  display:block;
}
#menu{
  position :relative;
  top:0;
  background-size:cover;
  background-color: transparent;
}

.options{
  display:none;
  border:1px solid #96A56E;
  min-width:240px;
  max-width:280px;
  padding:0;
  font-family:fantasy;
  color :white;
  background-image: linear-gradient(to bottom,black 30%,#32400D,#8AA348,#96A56E);
  min-height:300px;
  position :relative;
  top:-40px;
  right:250px;
  font-size:17px;
  z-index:999;
  border-radius:35px;
}
.langspan{
  border:none;
  padding:2px;
  width:100%;
  min-height:100vh;
  position:relative;
  top:80px;
  left:30px;
  font-size:15px;
}
select{
  min-width:40px;
  min-height:5px;
  background-color: black;
  font-size:17px;
  border-radius:10px;
  padding:10px;
  position:relative;
  right :-5px;
  color:#FFF635;
}
section:nth-of-type(2) .about{
  border:1px solid skyblue;
  min-width:100%;
  max-width:1500px;
  border:none;
  height:50px;
  font-size:18px;
  font-weight:bold;
  font-family:fantasy;
  position: relative;
  color:#FFF635;
  z-index:999;
  background-color:black;
  top:120px;
  left:0;
  border-radius:0;
  box-shadow:3px 3px 50px black;
}
section:nth-of-type(2) .about:hover{
  animation-play-state: paused;
  border-radius:10px;
}
section:nth-of-type(2) p{
  border:none;
  min-width:270px;
  max-width:340px;
  padding:10px;
  font-size:15px;
  color:#AAA530;
  font-weight:400;
  font-family:fantasy;
  position: absolute;
  top:90px;
  text-indent:30px;
}

#img2 {
    border: none;
    position:absolute;
    top: 250px;
    left: 10px;
    height: 180px;
    width: 90%;
    min-width:200px;
    max-width: 340px;
    border-radius:20px;
    margin :0 auto;
}

section:nth-of-type(2) h2{
  border:none;
  font-size:20px;
  color: #FFF635;
  font-weight:bold;
  font-family:fantasy;
  position:absolute;
  top:460px;
  left:20px;
  text-align:center;
}
section:nth-of-type(2) .nav-detail{
  box-shadow:1px 1px 20px #4A4943;
  border:none;
  min-width:270px;
  max-width:460px;
  width:60%;
  overflow:auto;
  height:290px;
  padding:20px;
  font-size:35px;
  color: #345794;
  font-weight:400;
  font-family:fantasy;
  position:relative;
  top:500px;
  left:0;
  right:70px;
  gap:30px;
  padding-right:30px;
  border-radius:30px;
  display:flex;
  flex-shrink:0;
  background-image: linear-gradient(to bottom,black 30%,#32400D,#8AA348,#96A56E);
  
}
section:nth-of-type(2) .service{
  border:none;
  min-width:250px;
  max-width:300px;
  width:100%;
  box-sizing:content-box;
  display:inline-block;
  height:250px;
  padding:0;
  font-size:30px;
  color: white;
  font-weight:400;
  position:relative;
  top:10px;
  left:15px;
  right:30px;
  font-family:fantasy;
  border-radius:30px;
  box-shadow:3px 3px 30px grey;
  background-color: black;
}
#img3,#img4,#img5,#img6{
  
  min-width:250px;
  max-width:290px;
  height :120px;
  border-radius:10px;
}
.four{
  position:relative;
  right:40px;
}
section:nth-of-type(2) h3{
  position:relative;
  font-size:17px;
  left:10px;
  top:10px;
}
section:nth-of-type(2) .contact{
  border:none;
min-width:300px;
max-width:500px;
width:100%;
height:400px;
padding:5px;
font-size:15px;
color: white;
font-weight:400;
position:relative;
top:559px;
left:-3px;
right:-3px;
border-top-left-radius: 80px;
border-top-right-radius: 80px;
font-family:fantasy;
box-shadow:1px 1px 50px gold;
background-image: linear-gradient(to bottom,black 30%,#32400D,#8AA348,#96A56E);
}
section:nth-of-type(2) h4{
  text-align: center;
  font-size:20px;
}
section:nth-of-type(2) .info{
  position:relative;
  top:60px;
}
section:nth-of-type(2) h5{
  font-size:17px;
  margin :20px;
}
section:nth-of-type(2) h6{
  font-size:15px;
  margin :30px;
  color:gold;
  position:relative;
  top:120px;
  font-weight:lighter;
  text-align:right;
}
/*Section 3 room page*/
#img7,#img8{
  border :none;
  min-width:250px;
  max-width:310px;
  width :100%;
  height :170px;
  border-radius:10px;
  position:relative;
  top:40px;
  left:20px;
}
section:nth-of-type(3){
  margin:0 auto;
  border:none;
min-width:350px;
max-width:800px;
min-height:1200px;
  max-height:1500px;
  height :100%;
  place-items:center;
  background-image:linear-gradient(to bottom,black 30%,grey);
  overflow:auto; 
}
section:nth-of-type(3) h2{
  position :relative;
  top:80px;
  left:10px;
  font-family:fantasy;
  font-size:15px;
  margin :30px;
  color :gold;
}

/*Section 4 food page*/
section:nth-of-type(4){
  min-width:350px;
  max-width:800px;
  min-height:1200px;
max-height:1500px;
height :100%;
  margin:0 auto;
  background-image:linear-gradient(to bottom,black 30%,grey);
  overflow:auto;
}
section:nth-of-type(4) p{
  position :relative;
  top:40px;
  font-family:fantasy;
  font-size:17px;
  margin :20px;
  text-indent: 30px;
  color :gold;
}
section:nth-of-type(4) li{
  border:none;
  position :relative;
  min-width:150px;
  max-width:400px;
  display:flex;
  min-height:50px;
  height :auto;
  top:210px;
  left:-35px;
  color: yellow;
  font-family:fantasy;
  font-size:15px;
  margin :20px;
}

.beverage{
  position :relative;
  bottom:10px;
}
section:nth-of-type(4) h2{
  position :relative;
  top:220px;
  left:20px;
  font-family:fantasy;
  font-size:20px;
  margin :5px;
  color:white;

}
section:nth-of-type(4) h3{
  position :relative;
  top:50px;
  left:20px;
  color:#70B55A;
  font-family:fantasy;
  font-size:20px;
  margin:5px;
  
}
section:nth-of-type(4) h4{
  border:none;
  position :relative;
  min-width:280px;
  max-width:450px;
  top:-310px;
  left:-30px;
  color:#1D9033;
  font-family:fantasy;
  font-size:17px;
  margin:20px;
}
section:nth-of-type(4) .text{
  position :absolute;
  border:none;
  max-width:200px;
  height:200px;
  z-index:2;
  padding-top:200px;
  padding:20px;
  top:890px;
  left:10px;
  color:#5AB578;
  font-family:fantasy;
  font-size:35px;
  margin:5px;
}
section:nth-of-type(4) .inp{
  border:1px solid black;
  width:200px;
  height:27px;
  padding:10px;
  padding-left:15px;
  border-radius:20px;
  position :relative;
  top:70px;
  left:10px;
  color:#5A61B5;
  font-family:fantasy;
  font-size:15px;
  margin :15px;
}
section:nth-of-type(4) .check{
  position: relative;
  border:1px solid white;
  border-radius:20px;
  background-color:black;
  width:80px;
  height:50px;
  padding:10px;
  color: skyblue;
  top: 71px;
  left: -5px;
  font-family: fantasy;
  font-size: 17px;
  margin: 5px;
}
section:nth-of-type(4) .check:active{
  border-radius:20px;
  background-color:#4D5A59;
}

/*Section 5 transport page*/
section:nth-of-type(5){
  min-width:350px;
  max-width :800px;
  margin :0 auto;
  min-height:1200px;
max-height:1500px;
height :100%;
background-image: linear-gradient(to bottom,black 30%,#32400D,grey); 
  overflow:auto;
}
#im1,#im2,#im3,#im4,#im5,#im6,#im7{
  border:none;
  min-width:200px;
  max-width:300px;
  width :100%;
  height :150px;
  margin:30px;
  border-radius:10px;
  position:relative;
  top:30px;
  
}
section:nth-of-type(5) p
 {
  min-width:250px;
  max-width:450px;
  position :relative;
  top:30px;
  font-family:fantasy;
  font-size:17px;
  margin :30px;
  text-indent:30px;
  color:#DCE457;
 
}
/*Section 6 wellness page*/
section:nth-of-type(6){
  border:none;
  min-width:200px;
  max-width:800px;
  margin :0 auto;
  overflow:auto;
  border:none;
  min-height:1200px;
  max-height:2400px;
  height :100%;
  background-image:linear-gradient(to bottom,black 30%,#32400D,#8AA348,#96A56E);
}
section:nth-of-type(6) p{
  min-width:250px;
  max-width:450px;
  position :relative;
  top:30px;
  font-family:fantasy;
  font-size:17px;
  margin :20px;
  text-indent:30px;
    color:#DCE457;

}

/*Section 7 about page*/
section:nth-of-type(7){
  border:none;
  min-width:300px;
  max-width:800px;
  color:#5DCCFF;
  min-height:1200px;
  max-height:1500px;
  height:100%;
  margin :0 auto;
  background-image: linear-gradient(to bottom,black 30%,grey); 
  overflow:auto;
}
section:nth-of-type(7) h1{
  color:gold;
  
}
section:nth-of-type(7) p{
  border:none;
  min-width:250px;
  max-width:450px;
  min-height:300px;
  height:auto;
  padding:15px;
  position :relative;
  top:30px;
  font-family:fantasy;
  font-size:17px;
  margin :30px;
  color:#DCE457;
;
}

/*media query*/
@media (min-width:600px){
  /*first*/
  section:nth-of-type(1){
    min-height:1300px;
    max-height:1500px;
  }
  .welltxt{
    min-height:500px;
    min-height:600px; 
  }
  section:nth-of-type(1) h1{
    font-size:48px;
  }
  section:nth-of-type(1) h2{
    font-size:38px;
    position:relative;
    top:50px;
  }
  section:nth-of-type(1) p{
    font-size:38px;
    position:relative;
    top:90px;
  }
  .bt1{
    min-width:200px;
    min-height :80px;
    position:relative;
    top:40px;
    left :140px;
    font-size:30px;
  }
  /*second page*/
  section:nth-of-type(2) h1{
    font-size:28px;
    position :relative;
    top:-70px;
  }
  section:nth-of-type(2) p{
    border :none;
    font-size:25px;
    min-width:600px;
    margin :10px;
    text-indent:50px;
  }
  section:nth-of-type(2) #img2{
    min-width:300px;
    max-width:600px;
    position : absolute;
    left:110px;
    top:330px;
  }
  .drop{
    position :relative;
    top:5px;
    left:650px;
    height :55px;
    background-color:white;
    border-radius:10px;
    padding:5px;
  }
   .bt2{
    min-width:60px;
    min-height:70px;
    border-radius:20px;
    position:relative;
    left:-20px;
  }
  section:nth-of-type(4) li{
    font-size:18px;
  }
  section:nth-of-type(2) h2{
    position :relative;
    text-align:center;
    top:580px;
    font-size:30px;
  }
  section:nth-of-type(2) .nav-detail{
    position :relative;
    top:600px;
    min-width:400px;
    max-width:500px;
  }
  section:nth-of-type(2) .contact{
    position :relative;
    top:700px;
    min-width:600px;
    max-width:700px;
    border-radius:20px;
  }
  section:nth-of-type(2){
    min-height:1200px;
    max-height:1400px;
  }
  section:nth-of-type(2) .upheader{
    position:fixed;
    min-width:500px;
    max-width:700px;
    min-height :60px;
    border-radius:20px;
  }
  section:nth-of-type(2) .head{
    position:fixed;
    min-width:500px;
    max-width:700px;
    min-height :60px;
    border-radius:20px;
  }
  section:nth-of-type(2) h6{
    text-align:right;
    font-size:20px;
    position:relative;
    top:95px;
  }
  #img7,#img8,#im1,#im2,#im3,#im4,#im5,#im6,#im7{
    min-width:600px;
    max-width:600px;
    min-height:200px;
  }
  .h1{
    font-size:40px;
  }
  section:nth-of-type(3) h2{
    font-size:30px;
    position:relative;
    top:50px;
    margin:70px;
  }
  .p{
    font-size:50px;
    min-width:400px;
    min-height:100px;
    border:none;
    text-align:center;
    position:relative;
    left :50px;
  }
  section:nth-of-type(3) p{
    min-width:300px;
  }
  section:nth-of-type(4) h3{
    border:none;
    position:relative;
    top:70px;
  }
  section:nth-of-type(4) h4{
    position:relative;
    min-width:400px;
    max-width:550px;
    top:-250px;
    left:20px;
    font-size:22px;
    border:none;
  }
  section:nth-of-type(6){
    min-height:1400px;
    max-height:2000px;
  }
  section:nth-of-type(7) p{
    min-width:600px;
    max-width:600px;
    font-size:28px;
    border:none;
  }
}
@media (max-width:360px){
  .drop{
    position :relative;
    left:320px;
  }
  main,section:nth-of-type(1),section:nth-of-type(2), section:nth-of-type(3), section:nth-of-type(4), section:nth-of-type(5), section:nth-of-type(6), section:nth-of-type(7) {
    max-width:400px;
  }

  }
